  
   @import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
  

   body {
    font-family: 'Maven Pro', sans-serif;
    font-size: 15px;
  }

  .fontsize-small {
    text-align: center;
    font-size: 15px;
}

.fontsize-big{
  text-align: center;
    font-size: 56px;
}

header {
background-color: black;
color: white;
}

div:first-child p{
color: white;
position: relative;
top: 8px;
left: 16px;
font-size: 18px;
}


 header section:first-of-type {
  margin:0 auto;
  padding: 2%;
  width: 25%;
  background: rgb(61,200,213);
  background: linear-gradient(25deg, rgba(133,7,225,1) 35%, rgba(0,212,255,1) 100%, #ccc 45%, rgba(61,200,213,1) 35%);
}

header section:first-of-type:hover {
  padding: 2%;
  width: 25%;
  background: rgb(61,200,213);
  background: linear-gradient(25deg, rgba(61,200,213,1) 0%, rgba(204,204,204,1) 45%,  rgba(0,212,255,1) 100%, rgba(133,7,225,1) 35%);
}

nav {
  position: relative;
  text-align: right;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:rgba(61,200,213,1);
  font-weight: bold;
  font-size: 25px;
}

/* second page */

/* background-position: 500px 700px;
height: 100vh; */

main { 
  margin: 0 auto;
  padding-left: 7%;
  padding-right: 35%;
  background-image: url(https://assets.website-files.com/5c8834f1555981170b2fd8b1/5c898cd67456ffcba141a5ff_PROJECTS.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  }

 /* main section:first-child h1{
  font-size: 3500px;
  } */

  section:first-child {
    margin: 0 auto;
    width: 70%;
    padding-left: 7%;
    padding-right: 35%;
    background-image: url(https://assets.website-files.com/5c8834f1555981170b2fd8b1/5c898cd67456ffcba141a5ff_PROJECTS.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;

  }

section:nth-of-type(2) {
  margin: 35px;
  padding-left: 7%;
  padding-right: 50px;

}


img {
  margin: 50px;
  padding-left: 10%;
  padding-right: 35%;
  display: block;
  width: 90%;
  border-radius: 8%;
}
 
